<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>

		<!--Vaihada Rootin salasana omaksesi ennen kuin ajat ohjelmaa!-->
		<add name="RootConnection"  
         connectionString="Server=127.0.0.1; Uid=root; Pwd=Kissa123;" />
    
		<add name="LaskutusDB" 
         connectionString="Server=127.0.0.1; Uid=opiskelija; Pwd=opiskelija1; Database=laskutusdb;" />
		
	</connectionStrings>
</configuration>